.news{
    color: aliceblue;
}

.story{
    /* background-color: rgb(100, 155, 243); */
    /* background-color: rgb(2, 62, 5); */
    border-style: solid !important;
    border-color: rgb(101, 168, 245) !important;
    border: 3px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}